
#tableMy {
  .ant-table-content {
    height: 430px !important;

    .ant-table-placeholder {
      height: 430px !important;


      .ant-empty-normal {
        margin-top: 150px !important;
      }
    }
  }
  .ant-table-tbody {
    overflow-y: auto;
    width: 100%;
    height: 55vh;
    position: absolute;
    td{
      width: 100%!important;
    }
  }
}

#aksverka {
  .bg-minus {
    background-color: rgba(255, 2, 0, 0.06) !important;
  }

  .bg-plus {
    background-color: rgba(15, 255, 0, 0.11) !important;
  }

  .aksverka-header {
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 10px 0 0 0;
    margin: 20px 0 15px 0;
  }
}

#soni {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #32b1ff;
  margin-right: 5px;
}

#summasi {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #24ce0a;
  margin-right: 5px;
}

#tolov {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fffa06;
  margin-right: 5px;
}

body {
  background-color: #FFFFFF !important;
}

@font-face {
  font-family: 'Lato-Black';
  src: url("../public/assets/fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../public/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../public/assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../public/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-RegularItalic';
  src: url("../public/assets/fonts/Lato/Lato-RegularItalic.ttf") format("truetype");
}

.headerback {
  transition: 0.6s ease;
}

.lato-black {
  font: {
    family: 'Lato-Black', sans-serif !important;
  }
}

.lato-bold {
  font: {
    family: 'Lato-Bold', sans-serif !important;
  }
}

.lato-light {
  font: {
    family: 'Lato-Light', sans-serif !important;
  }
}

.lato-regular {
  font: {
    family: 'Lato-Regular', sans-serif !important;
  }
}

.lato-regularitalic {
  font: {
    family: 'Lato-RegularItalic', sans-serif !important;
  }
}

.dashboardSection {
  @mixin searchSystem() {
    .mainSearch {
      border-radius: 4px;

      .search {
        padding: 8px 0 8px 1rem;
        color: #B0B0B0;
        opacity: 50% !important;
        background: #FFFFFF;
        border-radius: 4px 0 0 4px;
        border: none !important;

        &:focus {
          border: none !important;
          outline: 0;
          -webkit-appearance: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
        }
      }

      .srch_btn {
        padding: 10px 26px;
        width: 20px;
        background-image: url("/assets/icon/search_gray.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        border: 2px solid #FFFFFF;
        border-radius: 0 4px 4px 0;
        position: absolute;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .row1 {
    @include searchSystem;
  }

  .row2 {
    .menuLists {
      height: 90vh;
      background: #ffffff;

      .nav {
        .navItem {
          padding-top: 0.3rem;
          padding-bottom: 0.3rem;
          text-align: center;
          border-bottom: 1.5px solid #eff0f3;

          .navLink {
            text-decoration: none !important;
            color: #000000;
          }
        }
      }
    }

    .mainContent {
      .tableBtn {
        width: 15%;
        color: #ffffff;
        background: #cacaca;
        border: none !important;
      }

      .tables {
        margin-top: 40px;

        .tableRowMain {
          background: #ffffff;

          th {
            font-size: 16px;
            line-height: 12px;
            color: #242424;
          }
        }

        .tableHover {
          background: #ffffff;

          td {
            align-items: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 13px;
            line-height: 12px;
            color: #B0B0B0;
          }

          .mainRound {
            .round {
              display: inline-block;
              padding-left: .5rem;
              padding-right: .5rem;
            }

            .round3 {
              display: inline-block;
            }
          }

          .icons {
            color: #000000;
            visibility: hidden;
            font-size: 14px;

            &:hover {
              color: #ffffff;
            }
          }

          &:hover {
            background: rgba(208, 204, 210, 0.53);

            .icons {
              visibility: visible;
            }

            td {
              color: #000000;
            }
          }
        }
      }

      .mainContentSub {
        margin-top: 30px;
        @include searchSystem;
      }
    }
  }
}


$orange: #EC681F;
$black: #131A22;

.header {
  .rec {
    width: 35.5%;
    right: 0;
  }

  .navbar {

    .navbar-brand {
      transform: translate(0, 10px);
    }

    .nav-item {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      top: 12px;
      padding: 29px 15px 0 15px;

      .nav-link {
        padding-right: 0;
        padding-left: 0;
      }

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        margin-top: 9px;
        background-color: $orange;
        transition: all 0.3s ease-in;
        display: block;
        transform: scaleX(0) translateY(-8px);
      }
    }

    .nav-item:hover {
      &::after {
        transform: scaleX(1) translateY(0);
      }
    }


    .dropdown {
      align-self: center;
      top: 10px;

      .dropdownMain {
        background: none !important;
        border: 1px solid #131A22;
        box-sizing: border-box;
        border-radius: 100px;
        color: #000000;

        &:focus {
          color: #000000;
          outline: 0;
          -webkit-appearance: none;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
        }
      }

      .dropdown-menu {
        padding: 0;
        text-align: center;
        min-width: 0;
        margin-left: -14px;
        margin-top: 5px;

        &:hover {
          box-shadow: 2px 2px 2px 2px rgba(169, 163, 142, 0.15);
        }

        button {
          width: 120px;

          &:hover {
            background: $orange;
            color: #ffffff;
          }
        }
      }
    }

    .dropdown-toggle::after {
      display: block;
      border: none !important;
    }
  }

  .contents {
    right: 0;

    .order {
      font-size: 45px;
      line-height: 53px;
    }
  }

  .order-button {
    background-color: $orange !important;
    margin-top: 28px;
    color: white !important;
    border: none !important;
    border-radius: 100px !important;
    padding: 7px 20px !important;
    font-size: 20px;
    line-height: 24px;

    &:active {
      border: none;
    }

    &:focus {
      outline: 0;
      -webkit-appearance: none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .contact {
    margin-top: 171px;

    .phone-code {
      font-size: 12px;
    }

    .pnone-number {
      font-size: 30px;
    }
  }

  .headerimg {
    padding-top: 120px;
  }

  .contact {
  }


  @media (min-width: 1600px) {
    .header {
      .contents {
        width: 685px;

        .order {
          margin-top: 145px;
        }
      }
    }
  }

  @media (max-width: 1600px) and (min-width: 1200px) {
    .header {
      .contents {
        width: 685px;

        .order {
          margin-top: 145px;
        }
      }
    }
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    .header {
      .contents {
        width: 570px;

        .order {
          margin-top: 100px;
          font-size: 39px;
          line-height: 43px;
        }
      }

      .contact {
        margin-top: 120px;
      }
    }
  }

  @media (max-width: 992px) and (min-width: 768px) {
    .header {
      .navbar {
        .nav-item {
          font-size: 14px;
          line-height: 19px;
          padding: 29px 5px 0 5px;
        }
      }

      .contents {
        width: 707px;

        .order {
          margin-top: 100px;
          font-size: 39px;
          line-height: 43px;
        }

        .contact {
          margin-top: 71px;

          .phone-code {
            font-size: 12px;
          }

          .pnone-number {
            font-size: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) and (min-width: 576px) {
    .header {
      .navbar {
        .navbar-brand {
          transform: translate(0, 0px);
        }

        .nav-item {
          padding: 0;
          text-align: left;

          &::after {
            display: none;
          }
        }

        .dropdown {
          align-self: unset;
        }
      }

      .contents {
        width: 532px;

        .order {
          margin-top: 100px;
          font-size: 35px;
          line-height: 43px;
        }

        .contact {
          margin-top: 71px;

          .phone-code {
            font-size: 12px;
          }

          .pnone-number {
            font-size: 30px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .header {
      .navbar {
        .navbar-brand {
          transform: translate(0, 0px);
        }

        .nav-item {
          padding: 0;
          text-align: left;

          &::after {
            display: none;
          }
        }

        .dropdown {
          align-self: unset;
        }
      }

      .contents {
        width: 471px;

        .order {
          margin-top: 50px;
          font-size: 19px;
          line-height: 29px;
        }

        .order-button {
          font-size: 15px;
          line-height: 24px;
        }

        .contact {
          margin-top: 21px;

          .phone-code {
            font-size: 12px;
          }

          .pnone-number {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.section-one {
  margin-top: 140px;

  .tipography {
    font-size: 45px;
    line-height: 55px;
  }

  .tipography-text {
    font-size: 24px;
  }

  .path {
    font-size: 24px;
    line-height: 40px;
  }

  .section1img1 {
    width: 64%;
  }

  .section1img2 {
    width: 86%;
    left: 0;
    bottom: -18%;
  }

  @media (min-width: 1600px) {

  }

  @media (max-width: 1600px) and (min-width: 1200px) {
    .section1img1 {
      height: 755px;
    }
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    .tipography {
      font-size: 35px;
      line-height: 35px;
    }

    .tipography-text {
      font-size: 16px;
    }

    .path {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (max-width: 992px) and (min-width: 765px) {
    .tipography {
      font-size: 26px;
      line-height: 35px;
    }

    .tipography-text {
      font-size: 12px;
    }

    .path {
      font-size: 16px;
      line-height: 30px;
    }
  }

  @media (max-width: 765px) and (min-width: 576px) {
    .tipography {
      font-size: 45px;
      line-height: 45px;
    }

    .tipography-text {
      font-size: 20px;
    }

    .path {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media only screen and (max-width: 576px) and (min-width: 320px) {
    .tipography {
      font-size: 30px;
      line-height: 40px;
    }

    .tipography-text {
      font-size: 16px;
    }

    .path {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.section-two {
  margin-top: 240px;
  background-image: url("../public/assets/images/NUB.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .we-text {
    padding-top: 50px;
    padding-bottom: 66px;
    font-size: 3.13em;
  }

  .card-row2 {
    padding-top: 60px;
    padding-bottom: 64px;
  }

  .sectionInfoCard {
    .timer_Main {
      margin-top: -30px;

      .timer {
        width: 30%;
      }
    }

    .efficiency {
      text-align: center;
      padding-top: 10px;
      font-size: 24px;
      margin-bottom: 0;
      overflow: hidden;
    }

    .efficiency2 {
      height: 82px;
      font-size: 16px;
      padding-top: 10px;
      margin-bottom: .4rem;
      text-align: center;
      overflow: hidden;
    }
  }

  @media (max-width: 1200px) and (min-width: 992px) {
    .we-text {
      font-size: 2.9em;
    }
    .sectionInfoCard {
      .efficiency {
        font-size: 20px;
      }

      .efficiency2 {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 992px) and (min-width: 765px) {
    .we-text {
      font-size: 2.5em;
    }
    .sectionInfoCard {
      .efficiency {
        font-size: 14px;
      }

      .efficiency2 {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 765px) and (min-width: 576px) {
    .we-text {;
      padding-bottom: 26px;
      font-size: 2.1em;
    }
    .card-row2 {
      padding-top: 0px;
      padding-bottom: 64px;
    }
    .sectionInfoCard {
      margin-top: 60px;

      .timer_Main {
        .timer {
          width: 20%;
        }
      }

      .efficiency {
        font-size: 24px;
      }

      .efficiency2 {
        font-size: 15px;
      }
    }
  }

  @media only screen and (max-width: 576px) and (min-width: 320px) {
    .we-text {
      padding-bottom: 26px;
      font-size: 1.9em;
    }
    .card-row2 {
      padding-top: 0px;
      padding-bottom: 64px;
    }
    .sectionInfoCard {
      margin-top: 60px;

      .timer_Main {
        .timer {
          width: 20%;
        }
      }

      .efficiency {
        font-size: 21px;
      }

      .efficiency2 {
        font-size: 13px;
      }
    }
  }
}

.section3 {
  margin-top: 255px;
  background-image: url("../public/assets/images/bg-img-2.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;

  .service {
    font-size: 50px;
    padding-top: 40px;
  }

  .mahsulotlar {
    .bg-color-2 {
      bottom: -110px;
      //left: -185px;
      z-index: 33;
    }

    .card-style {
      background-color: transparent;
      border: none;
      overflow: hidden;
      position: relative !important;
      display: inline-flex;
      z-index: 777;

      .cart-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        transition: 0.5s ease;
        font-size: 18px;
        line-height: 22px;

        p, a, .card-btn {
          transition: 0.5s ease;
        }

        p {
          color: white;
          opacity: 0;
          margin-top: 40%;
        }

        .readMore {
          color: $orange;
          opacity: 0;
        }

        .card-btn {
          margin-top: 20%;
          background-color: $orange;
          border-radius: 100px;
          border: none;
          padding: 5px 22px;
          opacity: 0;
          font-size: 14px;
          line-height: 17px;

          &:hover {
            box-shadow: none;
          }

          &:focus {
            outline: 0;
            -webkit-appearance: none;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
          }
        }
      }

      img {
        transition: 0.5s ease;
        z-index: -1;
      }

      &:hover {
        .cart-hover {
          background-color: rgba(11, 16, 22, 0.76);
        }

        img {
          transform: scale(1.25);
        }

        p, a, .card-btn {
          opacity: 1;
        }

        .readMore {
          opacity: 1;
        }
      }
    }
  }

}

.section4 {
  margin-top: 287.5px;

  .portfolio_Card {
    z-index: 23;
    border: none !important;
    border-radius: 0 !important;

    .portfolio_Title {
      font-size: 50px;
      line-height: 60px;
      color: $black;
    }

    .portfolio_Text {
      font-size: 24px;
      line-height: 30px;
      color: $black;
    }
  }

  .slick-prev:before {
    content: url("../public/assets/images/vector1.png") !important;
    font-family: 'slick';
    font-size: 45px !important;
    line-height: 1;
    opacity: 1;
    background-color: transparent;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .slick-next:before {
    content: url("../public/assets/images/vector2.png") !important;
    font-family: 'slick';
    font-size: 45px !important;
    line-height: 1;
    opacity: 1;
    background-color: transparent;

    color: white;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .slick-prev {
    left: 120px;
    top: 94% !important;
  }

  .slick-next {
    left: 200px;
    top: 94% !important;
  }

  .slick-prev, .slick-next {
    z-index: 30;
    width: 80px;
    height: 60px;
    cursor: pointer;
    background: #FFFFFF;

    &:hover {
      background: #FFFFFF;
    }

    &:focus {
      background: #FFFFFF;
    }
  }

  .slick-dots li button:before {
    font-size: 0px;;
  }


  .shape_Carousel1 {
    overflow: hidden;
    border-radius: 0 30% 0 0 !important;
  }

  .shape_Carousel2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 80%;
    background: #FFFFFF;
    z-index: 22;
  }
}

.section5 {
  margin-top: 237px;
  position: relative;

  .bg-img {
    position: absolute;
    background: rgb(235, 237, 239);
    border-radius: 0px 214.5px 0px 0px;
  }

  .bgBox {
    position: absolute;
    background: rgb(235, 237, 239);
  }

  .we-price {
    font-size: 50px;

  }

  .number {
    font-size: 50px;

  }

  .numbers {
    font-size: 50px;
    margin-bottom: 0;
  }

  .number-com {
    font-size: 22px;
    margin-bottom: 0;
    line-height: 24px;
    color: #37475A;
  }
}


.section6 {
  margin-top: 240px;
  margin-bottom: 20px;

  .section6Title {
    font-size: 50px;
    line-height: 60px;
    color: #131A22;
  }

  .tech-slideshow {
    height: 450px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    .mover-1 {
      animation: moveSlideshow 50s linear infinite;
    }

    .carusel {
      margin-top: 140px;
      top: 40px;
      transform: scale(4);
      width: 100%;
      height: 100px;
      padding: 1px;

      .our-product {
        height: 40px;
        width: 40px;
        margin: 0 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: 0 2px 4px rgba(169, 163, 142, 0.15);
        border-radius: 2px;
      }

      .our-product-2 {
        height: 20px;
        width: 20px;
        background: #FFFFFF;
        box-shadow: 0 3px 6px rgba(169, 163, 142, 0.15);
        border-radius: 2px;
        margin: 0 0 10px 0;
        padding: 0 1px 0 1px;

        &:nth-child(2) {
          margin: 16px 0 16px 0;
        }
      }
    }
  }

  .bg-1 {
    height: 100%;
    width: 100px;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 64%, rgba(0, 212, 255, 0) 100%);
    position: absolute;
    z-index: 998;
  }

  .bg-2 {
    height: 100%;
    width: 100px;
    right: 0;
    background: rgb(0, 212, 255);
    background: linear-gradient(90deg, rgba(0, 212, 255, 0) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 83%);
    z-index: 998;
  }

  @keyframes moveSlideshow {
    50% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}


.section7 {
  margin-top: 308px;

  .rec6 {
    top: -30%;
    left: 0;
    width: 18%;
  }

  .slick-list {
    padding-bottom: 92px;
  }

  .slick-prev {
    background: #EC681F !important;
    right: 25px;
    display: none !important;
  }

  .slick-next {
    background: #EC681F !important;
    right: -25px;
    display: none !important;
  }
  .team_Carousel {
    .team_Title {
      font-size: 46px;
      line-height: 55px;
      color: #131A22;
      text-align: center;
    }


    .team_Card {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 146px;
      transform: translate(0, 10px);
      height: 256px;
      background: #FFFDF7;
      border: none !important;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      text-align: center;
      -webkit-transition: 0.5s ease-out;
      -moz-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out;

      &:hover {
        box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
      }

      .img_Round {
        transform: translate(0, -85px);
        width: 175px;
        height: 175px;
        background: #FFFFFF;
        border-radius: 50%;

        .user_Img {
          width: 150px;
          height: 150px;
        }
      }

      .user_Name {
        font-size: 24px;
        line-height: 29px;
        color: #131A22;
        transform: translate(0, -78px);
      }

      .user_Profession {
        width: 164px;
        font-size: 16px;
        line-height: 19px;
        color: #EC681F;
        transform: translate(0, -78px);
      }
    }

  }
}

.section8 {
  margin-top: 196px;
  transform: translate(0, 40px);
  position: relative;

  .rectangle {
    width: 20%;
    position: absolute;
    text-align: right !important;
    z-index: 999;
    right: 0;
    top: -131px;
  }

  .mapYandex {
    width: 70%;
    height: 501px;
    border-radius: 50%;

    .ymaps-2-1-74-map ymaps, .ymaps-2-1-74-map ymaps:after, .ymaps-2-1-74-map ymaps:before {
      box-sizing: content-box;
      border-radius: 0px 214.5px 0px 0px;
    }
  }


  @media (max-width: 992px) and (min-width: 765px) {

  }

  @media (max-width: 765px) and (min-width: 576px) {

  }

  @media only screen and (max-width: 576px) and (min-width: 320px) {
    .rectangle {
      width: 30%;
      position: absolute;
      text-align: right !important;
      z-index: 999;
      right: 0;
      top: -131px;
    }
  }
}

.footer {
  background-color: #131A22;
  padding-top: 50px;
  color: #FFFFFF;

  .footerLinks {
    .company {
      font-size: 18px;
    }

    .link-menu {
      margin-top: 8px;
      margin-bottom: 0;

      a {
        color: #FFFDF7;
        font-size: 14px;
        text-decoration: none;
      }

      &:hover {
        a {
          color: $orange;
          transition: 0.3s all ease;
        }
      }
    }
  }

  .aloqa {
    font-size: 18px;
  }

  .phone-img {
    cursor: pointer;
  }

  .phone-num {
    margin-bottom: 0;
  }

  .phone-code {
    font-size: 13px;
    margin-left: 5px;
  }

  .phone-number {
    font-size: 28px;
    line-height: 28px;
  }

  .dropdownMenu {
    .dropdownMain {
      background: none !important;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 100px;
      color: #ffffff !important;

      &:focus {
        color: #ffffff !important;
        outline: 0;
        -webkit-appearance: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
      }
    }

    .dropdown-menu {
      padding: 0;
      text-align: center;
      min-width: 0;
      margin-left: -14px;
      margin-top: 5px;

      &:hover {
        box-shadow: 2px 2px 2px 2px rgba(169, 163, 142, 0.15);
      }

      button {
        width: 120px;

        &:hover {
          background: $orange;
          color: #ffffff;
        }
      }
    }

    .dropdown-toggle::after {
      display: block;
      border: none !important;
    }
  }

  .telegram {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #484848;

    &:hover {
      background-color: $orange;
      transition: 0.4s all ease;
    }

    img {
      margin-left: 22%;
      margin-top: 15%;
    }
  }

  .addres {
    transform: translate(2px, 5px);
    font-size: 12px;
  }

  .link-pdp {
    padding-right: 5px !important;
    font-size: 14px;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .css-1okebmr-indicatorSeparator {
    display: none;
  }

}
#login {
  height: 100vh;

  .ant-row {
    .text-center {
      padding-right: 80px;
    }
    .ant-input-group-wrapper{
      width: 80%!important;
    }
    .ant-col {
      .ant-btn {
        width: 300px;
        height: 44px;
      }

      .ant-input {
        width: 300px !important;
        height: 44px;
        background-color: rgba(196, 196, 196, 0.2);
        border: 0;

      }
      #username{
        width: 93% !important;
        height: 44px;
        padding-left: 4px;
        background-color: #e8f0fe;
        border: 0;
      }
      .userrr{
        border-left: 5px solid #fafafa;
        height: 44px;
      }
      .userr{
        background-color: #fafafa;
        padding-left: 10px!important;
        padding-top: 5px!important;
        border: 1px  solid rgba(196, 196, 196, 0.2);
        height: 44px;
        border-right: 0;
        margin-left: 9px !important;

      }

      .ant-btn {
        background-color: $orange !important;
        border-color: #a23e00;
      }
    }
  }
}


@media screen and(min-width: 600px) and (max-width: 992px) {
  .section3 {
    margin-top: 75px;

    .service {
      font-size: 30px;
    }

    .mahsulotlar {

      .card-style {
        .cart-hover {
          font-size: 14px;
          line-height: 16px;

          p {
            margin-top: 25%;
          }

          .card-btn {
            margin-top: 10%;
            background-color: $orange;
            border-radius: 100px;
            border: none;
            padding: 5px 14px;
            font-size: 12px;
            line-height: 17px;
          }
        }
      }
    }
  }
  .section6 {
    margin-top: 150px;

    .section6Title {
      font-size: 30px;
      line-height: 60px;
    }
  }
  .footer {
    .row1 {
      padding-top: 20px;
    }

    .row2 {
      padding-top: 20px;
    }

    .dropdownMenu {
      .phone-number {
        font-size: 35px;
      }
    }

    .pdp-link {
      margin-left: 5px !important;
    }

    .addres {
      transform: translate(5px, 5px);
      font-size: 12px;
    }
  }
}

@media screen and(max-width: 600px) {
  .section3 {
    background-size: 220px;
    margin-top: 75px;

    .service {
      font-size: 30px;
    }

    .mahsulotlar {
      width: 320px;

      .row {
        width: 280px;
        margin: 0 auto;

        .bg-color-2 {
          bottom: -90px;
          left: -50px;

          img {
            width: 220px;
            height: 300px;
          }
        }
      }

      .col-md-3 {
        width: 270px;
      }

    }

  }

  .section6 {
    margin-Y: 50px;
    margin-top: 100px;

    .bg-1, .bg-2 {
      width: 50px;
    }

    .section6Title {
      font-size: 30px;
      line-height: 60px;
    }

    .tech-slideshow {
      height: 222px;

      .mover-1 {
        height: 222px;

        .carusel {
          transform: scale(2);
          margin-top: 20px;
        }

        @keyframes moveSlideshow {
          50% {
            transform: translateX(-100%);
          }
          100% {
            transform: translateX(60%);
          }
        }
      }
    }
  }
  .footer {
    .row1 {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .dropdownMenu {

      .phone-number {
        font-size: 20px;
      }
    }

    .link-pdp {
      a {
        font-size: 10px;
      }
    }
  }
}

//=================================carusel==================//
.CaruselContainer {
  margin-top: 145px;

  img {
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .fill-white1 {
    background-color: transparent;
  }

  .fill-white2 {
    background-color: transparent;
  }

  .fill-white3 {
    background-color: transparent;
  }

  .homeCircles {
    width: 8px;
    height: 8px;
    background: #131A22;
    opacity: 0.3;
    border-radius: 50%;
    position: absolute;
    z-index: 60;
    right: 0;
  }

  .boxs {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .box {
    z-index: 3;
  }


  .card--left {
    display: none;
    z-index: 1;
  }

  .card--center {
    -webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    display: inline-block;
    z-index: 3;
  }

  .card--right {
    display: none;
    z-index: 1;
  }


  .leftSet {
    color: #757575;
    position: inherit;
    z-index: 4;
    opacity: 0.7;
    transform: translate(-330px, 30px);

  }

  .leftSet:hover {
    opacity: 1;
  }

  .rightSet {
    color: #757575;
    position: inherit;
    z-index: 4;
    opacity: 0.7;
    transform: translate(330px, 30px);

  }

  .rightSet:hover {
    opacity: 1;
  }

  .slideUser {
    width: 150px;
    height: 150px;
    background: #EEF2F5 !important;
    color: #EEF2F5 !important;
    border-radius: 50%;

    transform: translate(260px, -450px);
  }

  .slideUser img {
    border-radius: 50%;
    width: 88%;
    margin-left: 9.5px;
    margin-top: 9px;
  }

  .slideUserTitle {
    width: 259px;
    height: 24px;
    font-family: 'SF-Pro-Display-Bold';
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    margin-top: -430px;
    margin-left: 210px;
  }

  .slideUserText {
    width: 559px;
    height: 95px;
    font-family: 'SF-Pro-Display-Light';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: 50px;
  }


}
.ant-pagination{
  margin-bottom: 0!important;
}

@media (min-width: 1200px) {
  .fullScreen {
    .header {
      max-width: 1600px;
      margin: 0 auto;
    }
  }

  .CaruselContainer {
    img {
      width: 100%;
      height: 464px;
    }
  }
  .section4 {
    .portfolio_Img {
      position: relative;
      width: 500px;
      height: 500px;
    }

    .portfolio_Card {
      position: absolute;
      transform: translate(24%, 150px);
      padding-bottom: 8rem;
    }
  }
  .section5 {
    .bg-img {
      width: 1160px;
      height: 282px;
      position: absolute;
    }

    .bgBox {
      width: 270px;
      height: 282px;
      top: 48.5%;
    }

    .counters {
      top: 80px;
    }
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .CaruselContainer {
    margin-top: 100px;

    img {
      height: 400px;
    }
  }
  .section4 {
    .portfolio_Card {
      position: absolute;
      width: 80%;
      transform: translate(195px, 150px);

      .portfolio_Title {
        font-size: 30px;
        line-height: 20px;
      }

      .portfolio_Text {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .portfolio_Img {
      position: relative;
    }

    .shape_Carousel2 {
      width: 120px;
      background: #FFFFFF;
    }

    .slick-prev {
      left: 40px;
      top: 92.1% !important;
    }

    .slick-next {
      left: 120px;
      top: 92.1% !important;
    }
  }
  .section5 {
    .bg-img {
      width: 960px;
      height: 240px;
      position: absolute;
    }

    .bgBox {
      width: 270px;
      height: 240px;
      top: 124px;
    }

    .counters {
      top: 80px;
    }

    .we-price {
      font-size: 40px;
    }

    .number {
      font-size: 40px;
    }

    .numbers {
      font-size: 40px;
    }

    .number-com {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .section7 {
    .team_Carousel {
      .team_Title {
        font-size: 46px;
        line-height: 55px;
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .CaruselContainer {
    margin-top: 45px;
  }
  .section4 {
    margin-top: 188px;

    .portfolio_Card {
      position: absolute;
      width: 100%;
      transform: translate(100px, 95px);

      .portfolio_Title {
        font-size: 30px;
        line-height: 20px;
      }

      .portfolio_Text {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .portfolio_Img {
      position: relative;
    }

    .shape_Carousel2 {
      width: 120px;
      background: #FFFFFF;
    }

    .slick-prev {
      left: 40px;
      top: 90.4% !important;
    }

    .slick-next {
      left: 120px;
      top: 90.4% !important;
    }
  }
  .section5 {
    margin-top: 100px;

    .bg-img {
      width: 720px;
      height: 240px;
      position: absolute;
    }

    .bgBox {
      width: 270px;
      height: 240px;
      top: 124px;
    }

    .counters {
      top: 80px;
    }

    .we-price {
      font-size: 40px;
    }

    .number {
      font-size: 40px;
    }

    .numbers {
      font-size: 40px;
    }

    .number-com {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .section7 {
    margin-top: 208px;

    .team_Carousel {
      .team_Title {
        font-size: 30px;
        line-height: 55px;
      }

      .team_Card {
        margin-top: 70px;

        .img_Round {
          transform: translate(0, -55px);
          width: 135px;
          height: 135px;

          .user_Img {
            width: 120px;
            height: 120px;
          }
        }

        .user_Name {
          margin-top: 27px;
        }
      }
    }
  }
}

@media (max-width: 765px) and (min-width: 576px) {
  .CaruselContainer {
    margin-top: 45px;
  }
  .section4 {
    margin-top: 188px;

    .portfolio_Card {
      .portfolio_Title {
        font-size: 40px;
        text-align: center;
      }

      .portfolio_Text {
        font-size: 20px;
      }
    }

    .shape_Carousel2 {
      background: transparent;
    }

    .slick-prev {
      left: 0px;
      top: 94% !important;
    }

    .slick-next {
      left: 81px;
      top: 94% !important;
    }
  }
  .section5 {
    margin-top: 100px;

    .bg-img {
      width: 540px;
      height: 130px;
      position: absolute;
    }

    .bgBox {
      width: 270px;
      height: 130px;
      top: 60.9px;
    }

    .counters {
      top: 30px;
    }

    .we-price {
      font-size: 30px;
    }

    .number {
      font-size: 30px;
    }

    .numbers {
      font-size: 30px;
    }

    .number-com {
      font-size: 14px;
      line-height: 16px;
    }
  }
  .section7 {
    margin-top: 208px;

    .team_Carousel {
      .team_Title {
        font-size: 30px;
        line-height: 55px;
      }

      .team_Card {
        margin-top: 70px;

        .img_Round {
          transform: translate(0, -55px);
          width: 135px;
          height: 135px;

          .user_Img {
            width: 120px;
            height: 120px;
          }
        }

        .user_Name {
          font-size: 18px;
          margin-top: 27px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) and (min-width: 450px) {
  .CaruselContainer {
    margin-top: 45px;
  }
  .section4 {
    margin-top: 188px;

    .portfolio_Card {
      .portfolio_Title {
        font-size: 30px;
        text-align: center;
      }

      .portfolio_Text {
        font-size: 18px;
      }
    }

    .shape_Carousel2 {
      background: transparent;
    }

    .slick-prev {
      left: 0px;
      top: 92% !important;
    }

    .slick-next {
      left: 81px;
      top: 92% !important;
    }
  }
  .section5 {
    margin-top: 100px;

    .bg-img {
      display: none !important;
    }

    .counters {
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgb(235, 237, 239);
    }

    .we-price {
      font-size: 30px;
    }

    .number {
      font-size: 30px;
    }

    .numbers {
      font-size: 30px;
    }

    .number-com {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .section7 {
    margin-top: 208px;

    .team_Carousel {
      .team_Title {
        font-size: 30px;
        line-height: 55px;
      }

      .team_Card {
        margin-top: 70px;

        .img_Round {
          transform: translate(0, -55px);
          width: 135px;
          height: 135px;

          .user_Img {
            width: 120px;
            height: 120px;
          }
        }

        .user_Name {
          margin-top: 27px;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) and (min-width: 320px) {
  .CaruselContainer {
    margin-top: 45px;
  }
  .section4 {
    margin-top: 188px;

    .portfolio_Card {
      .portfolio_Title {
        font-size: 30px;
        text-align: center;
      }

      .portfolio_Text {
        font-size: 16px;
      }
    }

    .shape_Carousel2 {
      background: transparent;
    }

    .slick-prev {
      left: 0px;
      top: 90% !important;
    }

    .slick-next {
      left: 81px;
      top: 90% !important;
    }
  }
  .section5 {
    margin-top: 100px;

    .bg-img {
      display: none !important;
    }

    .counters {
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgb(235, 237, 239);
    }

    .we-price {
      font-size: 20px;
    }

    .number {
      font-size: 30px;
    }

    .numbers {
      font-size: 30px;
    }

    .number-com {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .section7 {
    margin-top: 208px;

    .team_Carousel {
      .team_Title {
        font-size: 30px;
        line-height: 55px;
      }

      .team_Card {
        margin-top: 70px;

        .img_Round {
          transform: translate(0, -55px);
          width: 135px;
          height: 135px;

          .user_Img {
            width: 120px;
            height: 120px;
          }
        }

        .user_Name {
          margin-top: 27px;
        }
      }
    }
  }
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.portfolio-card{
  margin-right: 35px;
  overflow: hidden;
  img{
    transform: scale(3.1);
  }
  .ant-card-body{
    padding: 12px 10px 0 0 !important;
    zoom: 1.6!important;
  }
  .ant-upload{
    width: 100%;
  }
  &:hover{
    .delete-portfolio{
      opacity: 1;
    }
  }
  .delete-portfolio{
    transition: 0.5s ease;
    opacity: 0;
    svg{
      path{
        color: red;
      }
      width: 20px;
      height: 20px;
    }
    top: 10px;
    right: 10px;

  }
  width: 200px!important;
  height: 200px !important;
  padding-left: 25px!important;
  margin-right: 20px;

}

